# Python virtual environment
.venv/
venv/
ENV/

# Environment secrets
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit config/credentials
.streamlit/

# OS specific files
.DS_Store
Thumbs.db

# Local Persistence Database
data/
